/*@media(max-width: 576px){
    body{
        background-color: blueviolet;
    }
    .texto{
        font-size: small;
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .btnEnviar{
        border: 1px solid black;
        background-color: green;
    }

}

@media(min-width: 576px){
    body{
        background-color: aqua;
    }
    .texto{
        font-size: medium;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
.btnEnviar{
        border-radius: 15px;
        border: 1px solid black;
        background-color: green;
    }


@media(min-width: 768px){
    body{
        background-color: rgb(121, 121, 33);
    }
    .texto{
        font-size: large;
        color:black;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    .btnEnviar{
        color:white;
        border: 1px solid black;
        background-color: green;
    }

}}

@media(min-width: 1024px){
    body{
        background-color: rgb(1, 19, 19);
    }
    .texto{
        font-size: xx-large;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .btnEnviar{
       display: none;
    }

}*/

*{
    padding: 0;
    margin:0;
}

.main-container{   
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-template-columns: 300px 1fr 10fr 1fr;
    grid-template-areas: 'nav'
                         'search'
                         'main'
                         'footer';
}



@media(min-width: 576px){

  .nav-links {
  display: flex;
  list-style: none;
}

  .hamburger-button {
    display: none;
  }
    .main-container{
        grid-template-areas: 'nav search search'
                            'nav main main'
                            'nav main main'
                            'footer main main';
    }
    .main{
        grid-template-columns: 150px auto auto;
    }
}



/*
@media(min-width: 768px){
 .hamburger-button {
    display: none;
  }

  .nav-links {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
    .main-container{
        grid-template-areas: 'nav search search'
                            'nav main main'
                            'nav main main'
                            'footer main main';
    }
    .main{
        grid-template-columns: 150px auto auto;
    } 

}
*/

/*
@media(min-width: 1024px){
.hamburger-button {
    display: none;
  }

  .nav-links {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
    .main-container{
       grid-template-areas: 'nav search search'
                            'nav main main'
                            'nav main main'
                            'footer main main';
                            
    }
    .main{
        grid-template-columns: 150px auto auto;
    }
}
*/

nav {
    background-color: rgb(5, 172, 243);
    grid-area: nav;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

search {
    grid-area: search;
    width: 100%;
    background-color: gray;
    justify-items: center;
    color: white;
    margin: 10px;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: calc(100vh-160px);
    padding: 10px;
    overflow-y: auto;
    justify-items: center;
    align-items: center;
}

footer{
    grid-area: footer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color:blue;
    color: white;
    padding: 10px;
}

.footer-iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


button{
    width: 50%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    }

p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.paginacion{
display: flex;
justify-content: space-between;
align-items: center;
    
}

.nav-links {
display: none;
flex-direction: column;
list-style: none;
margin: 0;
padding: 0;
}

.hamburger-button {
  display: flex; 
  list-style: none;
  align-items: center;
  padding: 15px;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
    margin-left: 150px;
    font-size: 20px;
    cursor: pointer;
}
